# Flare RPCs and deploy identities
FLARE_RPC_URL=
PRIVATE_KEY=
ACCOUNT_ADDRESS=

# Coston2 values
COSTON2_RPC=https://coston2-api.flare.network/ext/C/rpc
FTSO_V2_ADDR=0x3d893C53D9e8056135C26C8c638B76C8b60Df726

# Deployment inputs
FXRP_TOKEN_ADDR=
FTESTXRP_TOKEN_ADDR=0x0b6a3645c240605887a5532109323A3E12273dc7
TREASURY_ADDR=
FEE_BPS=100
MAX_PRICE_AGE=300

# Contract addresses
STANDING_ADDRESS=
FTSO_ADAPTER_ADDRESS=
